*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}


a {
  text-decoration: none;
}

.container{
  min-height: 100vh;
  width: 100%;
}


.aboutme{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 43px;
  outline-style: auto;
  outline-color: red;
  margin: 20px;
}

.subcontainer{
  display: flex;
  text-align: center;
}

/* COLOR INVERTED BUTTON*/
.color-inverted, .color-inverted html .invert-button {
  filter: invert(1);
}

.color-inverted img {
  filter: invert(1);
}

.invert-button {
  position: fixed; /* Make sure this is 'fixed' */
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #424242;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  z-index: 1000; /* Add this line to ensure the button stays above other elements */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* Add this line to hide the sidebar by default */
  display: none;
}

/* Add this rule to show the sidebar when the 'visible' class is added */
.sidebar.visible {
  display: flex;
}