*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

a {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
}

.subcontainer{
    display: flex;
    text-align: top;
}

.introduction .subcontainer {
    display: flex; /* use flexbox layout */
    flex-direction: column; /* align items vertically */
    align-items: center; /* center items horizontally */
  }
  
  .introduction .subcontainer h2 {
    margin: 0; /* remove any default margin */
  }
  
  .introduction .links {
    display: flex; /* use flexbox layout */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .introduction .links li {
    margin-right: 10px;
  }
  
  .introduction .links li:last-child {
    margin-right: 0;
  }